html, body {
  margin: 0;
  padding: 0;
}
body {
  font: 76% arial,sans-serif;
}
p {
  margin: 0 10px 10px;
}
a {
  display: block;
  color: #981793;
  /*padding: 10px*/
}
div#header h1 {
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding-left: 10px;
  background: #EDEAE1;
  color: #496385;
}

select, textarea, input[type="text"], input[type="search"], .uneditable-input {
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

select {
  width: 70px;
  background-color: #fff;
  border: 1px solid #ccc;
}

div#primer-tab p {
  line-height: 1.4;
}
div#navigation {
  background: #B9CAFF;
}
div#extra {
  background: #FF8539;
}
div#footer {
  background: #333;
  color: #FFF;
}
div#footer p {
  margin: 0;
  padding: 5px 10px;
}
div#navigation {
  float: left;
  width: 50%;
}
div#extra {
  float: left;
  width: 49.9%;
}
div#footer {
  clear: left;
  width: 100%;
}

div#primer-tab {
  padding: 15px;
  height: 400px;
  overflow-y: scroll;
}
div#alignment-viewer {
  padding: 15px;
  overflow: scroll;
}

.border-rounded {
    border-radius: 25px;
    border: 2px solid;
    padding: 0 20px;
}

.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.dynatable-head {
  background-color: #496385; //#1DABA8; //#C2DC4B;
}
.dynatable-head a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.dynatable-head:first-child {
  border-radius: 0.6em 0 0 0;
}
.dynatable-head:last-child {
  border-radius: 0 0.6em 0 0;
}

table#primer-table {

  th, td {
    padding: 0.5em 1em;
  }
  thead td {
    border: 2px solid;
    border-radius: 4px;
    background-color:#3B8686;
    color:white;
  }
  /* the first 'td' within the first 'tr' of the 'thead': */
  thead tr:first-child td:first-child {
      border-radius: 0.6em 0 0 0;
  }
  /* the last 'td' within the first 'tr' of the 'thead': */
  thead tr:first-child td:last-child {
      border-radius: 0 0.6em 0 0;
  }

}
td.selected {
  background-color: #00FF00;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

/*
#primer-table th {

}
*/

/*************
 * BUTTONS ! *
 *************/

a.button {
  background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb);
  background-image: -webkit-gradient(linear,left top,left bottom,
      color-stop(0, #ffffff),color-stop(1, #dbdbdb));
  filter: progid:DXImageTransform.Microsoft.gradient
      (startColorStr='#ffffff', EndColorStr='#dbdbdb');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient
      (startColorStr='#ffffff', EndColorStr='#dbdbdb')";
  border: 1px solid #fff;
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  padding: 5px 15px;
  text-decoration: none;
  text-shadow: #fff 0 1px 0;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  display: block;
  color: #597390;
  line-height: 24px;
  font-size: 20px;
  font-weight: bold;
}

a.button:hover {
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -webkit-gradient(linear,left top,left bottom,
      color-stop(0, #ffffff),color-stop(1, #eeeeee));
  filter: progid:DXImageTransform.Microsoft.gradient
      (startColorStr='#ffffff', EndColorStr='#eeeeee');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient
      (startColorStr='#ffffff', EndColorStr='#eeeeee')";
  color: #000;
  display: block;
}

a.button:active {
  background-image: -moz-linear-gradient(top, #dbdbdb, #ffffff);
  background-image: -webkit-gradient(linear,left top,left bottom,
      color-stop(0, #dbdbdb),color-stop(1, #ffffff));
  filter: progid:DXImageTransform.Microsoft.gradient
      (startColorStr='#dbdbdb', EndColorStr='#ffffff');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient
      (startColorStr='#dbdbdb', EndColorStr='#ffffff')";
  text-shadow: 0px -1px 0 rgba(255, 255, 255, 0.5);
  margin-top: 1px;
}

a.button.icon {
  padding-left: 11px;
}

a.button.icon span{
  padding-left: 36px;

}

a.button.icon.download span {
  background: url(../img/File_Text.png) no-repeat 0 -4px;
}


/*------------------
      D3 plots
 *------------------*/

 #chart-scatter-snps {
   width: 960px;
   height: 500px;
   position: relative;
 }

.tooltip {
  display: none;

  color: #333;
  background: #eee;
  box-shadow: 0 0 5px #999999;
  padding: 10px;

  font-size: 12px;
  text-align: center;

  top: 95px;
  left: 130px;
  position: absolute;
  z-index: 10;
}
